.ChatPage {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #0b1a33;
}

@media (max-width: 768px) {
    .ChatPage {
        flex-direction: column;
    }
}